@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #ca068c 0%, #640346 100%);

  color: rgba(30, 30, 30, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.relaxing-header.is-open .relaxing-header-background {
  left: 0;
}
.relaxing-header-button-wrapper {
  margin-left: auto;
}
.relaxing-header-icon {
  display: none;
}

.relaxing-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.relaxing-navigation-list.is-open {
  right: 0;
}
.relaxing-header-icon-menu {
  display: block;
}

.relaxing-header-icon-button.is-open .relaxing-header-icon-menu {
  display: none;
}

.relaxing-header-icon-button.is-open .relaxing-header-icon-close {
  display: block;
}

.relaxing-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: rgba(202, 6, 140, 1);
}

.relaxing-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 81, 0, 1);
}
.relaxing-header.is-open .relaxing-header-background {
  left: 0;
}
.relaxing-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.relaxing-header-icon-menu {
  display: block;
}

.relaxing-header-icon-button.is-open .relaxing-header-icon-menu {
  display: none;
}

.relaxing-header-icon-button.is-open .relaxing-header-icon-close {
  display: block;
}
.relaxing-header-icon-close {
  margin: 20px 20px 0 0;
}
.relaxing-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.relaxing-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 50px 50px;
  gap: 28px;
  background: rgba(202, 6, 140, 1);
}

.relaxing-navigation-list.is-open {
  right: 0;
}

.relaxing-navigation-link {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.relaxing-navigation-link:hover,
.relaxing-navigatioт-link:focus {
  color: rgba(255, 81, 0, 1);
}

.relaxing-header.is-open {
  background-color: transparent;
}

.relaxing-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .relaxing-navigation-img {
    display: flex;
  }
  .relaxing-policy-terms-header-icon-menu {
    display: none;
  }

  .relaxing-header {
    width: 100%;
    height: 72px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(255, 81, 0, 1);
  }

  .relaxing-header-background {
  }
  .relaxing-header-icon-button {
    display: none;
  }
  .relaxing-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .relaxing-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 10px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .relaxing-navigation-link {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    padding: 0px 50px;
    text-decoration: none;
  }

  .relaxing-navigation-link:hover,
  .relaxing-navigation-link:focus {
    color: rgba(202, 6, 140, 1);
  }

  .relaxing-navigation-item-desk {
    display: none;
  }
}
.relaxing-home {
  width: 375px;
  height: 978px;
  padding: 310px 19px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 25.png");
  margin: auto;
}

.relaxing-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.relaxing-home-title {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.66px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(202, 6, 140, 1);
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 1);
}
.relaxing-home-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 26px;
  padding-bottom: 17px;
}
.relaxing-home-item {
  display: flex;
  gap: 28px;
  align-items: start;
}
.relaxing-home-text {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.66px;

  vertical-align: middle;
  color: rgba(255, 81, 0, 1);
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}
.relaxing-home-text-two {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;

  padding-top: 7px;
}

.relaxing-home-google-button-image {
  width: 376px;
  height: 137px;
}

.relaxing-home-google-button-link:hover .relaxing-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .relaxing-home {
    width: 1440px;
    height: 1024px;
    padding: 512px 390px 0px;
    background-image: url("/img/home/main.png");
  }
  .relaxing-home-title {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.66px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }
  .relaxing-home-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .relaxing-home-item {
    display: flex;
    gap: 28px;
    align-items: start;
  }
  .relaxing-home-text {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.66px;
    vertical-align: middle;
    text-transform: uppercase;
  }
  .relaxing-home-text-two {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;

    padding-top: 7px;
  }
}

.relaxing-about {
  padding: 175px 20px 0px;
  margin: auto;
  margin-top: -70px;
  width: 375px;
  height: 1113px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about.png");
}

.relaxing-about-title {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.66px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(141, 5, 99, 1);
}

.relaxing-about-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;

  letter-spacing: 0.66px;
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 1200px) {
  .relaxing-about {
    padding: 360px 390px 0;
    width: 1440px;
    height: 814px;
    margin: auto;
    margin-top: -210px;
    background-image: url("/img/about\ us.png");
  }

  .relaxing-about-text {
    gap: 30px;
  }
}

.relaxing-reviews {
  width: 375px;
  height: 681px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/Reviews.png");
}

.relaxing-reviews-list {
  padding-top: 103px;
}

.relaxing-reviews-item {
  margin: 0 5px;
  width: 373px;
  height: 530px;

  border-radius: 50px;
  background: rgba(255, 255, 255, 1);
  border: 4px solid rgba(202, 6, 140, 1);
  padding: 26px 16px;
  color: rgba(100, 3, 70, 1);
}
.relaxing-reviews-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin: 15px 0 32px;
  height: 168px;
}
.relaxing-reviews-text-bold {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(0, 116, 227, 1);
  padding-bottom: 12px;
}

.relaxing-reviews-img {
  margin: auto;
  width: 182px;
  height: 182px;
}
.relaxing-reviews-item-two {
  background: rgba(0, 116, 227, 1);
  color: rgba(255, 255, 255, 1);
}
.relaxing-reviews-text-bold-two {
  color: rgba(255, 81, 0, 1);
}
@media screen and (min-width: 1200px) {
  .relaxing-reviews {
    width: 1440px;
    height: 835px;
    padding: 140px 158px 0;
    background-image: url("/img/reviews/Frame\ 25\ \(1\).png");
  }
  .relaxing-reviews-list {
    padding-top: 100px;
  }

  .relaxing-reviews-item {
    margin: 0 5px;
    width: 562px;
    height: 530px;
    padding: 26px 50px 0 51px;
  }
  .relaxing-reviews-text {
    text-align: left;
    margin: 15px 0 11px;
    height: 144px;
  }
  .relaxing-reviews-text-bold {
    text-align: left;
    padding-bottom: 8px;
  }

  .relaxing-reviews-img {
    margin: 0;
    width: 233px;
    height: 233px;
  }
}

.relaxing-faq {
  padding: 50px 20px;
  margin: auto;
  width: 375px;
}
.relaxing-faq-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 51px;
}
.relaxing-faq-container {
  padding-top: 59px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.relaxing-faq-item {
  border-radius: 32px;
  padding: 16px;
  background: rgba(0, 116, 227, 0.1);
}

.relaxing-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 22px;

  color: rgba(255, 0, 174, 1);
}

.relaxing-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.relaxing-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;

  color: rgba(250, 223, 168, 1);
}
.relaxing-faq-image {
  display: none;
}
@media screen and (min-width: 1200px) {
  .relaxing-faq {
    padding: 100px 80px 136px;
    width: 1440px;
  }
  .relaxing-faq-div {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 64px;
    padding-top: 59px;
  }
  .relaxing-faq-container {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 800px;
  }

  .relaxing-faq-answer {
    padding-top: 0px;
  }
  .relaxing-faq-image {
    display: flex;
    margin-bottom: 52px;
  }
}
.relaxing-gallery {
  width: 375px;
  margin: auto;
  padding: 52px 0 126px;
  background: linear-gradient(360deg, #8d0563 0%, #fadfa8 100%);
}
.relaxing-gallery-list {
  height: 558px;
}
.relaxing-gallery-item {
  overflow: hidden;
  position: relative;
  margin: 0 10px;
  width: 198.08999633789062px;
  height: 348.75px;

  border-radius: 34.88px;
  border: 4.18px solid rgba(255, 0, 174, 1);
}

.relaxing-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0px;
  display: none;
}
.relaxing-gallery-list .slick-slide {
  width: 198.08999633789062px;
  height: 348.75px;
  border-radius: 34.88px;
  transition: transform 0.9s ease-in-out, width 0.9s ease-in-out,
    height 0.9s ease-in-out;
}

.relaxing-gallery-list .slick-slide.slick-center {
  width: 317.36248779296875px;
  height: 558px;

  border-radius: 34.88px;
  z-index: 2;
}
@media screen and (min-width: 1200px) {
  .relaxing-gallery {
    width: 1440px;
    padding: 80px 164px 118px;
  }
  .relaxing-gallery-list {
    height: 800px;
  }
  .relaxing-gallery-item {
    margin: 0px;
  }
  .relaxing-gallery-list .slick-slide {
    width: 284px;
    height: 500px;
    border-radius: 50px;
    transition: transform 0.9s ease-in-out, width 0.9s ease-in-out,
      height 0.9s ease-in-out;
  }

  .relaxing-gallery-list .slick-slide.slick-center {
    width: 455px;
    height: 800px;
    border-radius: 50px;
    border-radius: 34.88px;
    z-index: 2;
  }
  .slick-prev:before {
    content: url("/img/gallery/arrow\ \(1\).png");
    display: flex;
    margin-left: -40px;
  }
  .slick-next {
    display: block;
  }
  .slick-next:before {
    content: url("/img/gallery/arrow\ \(2\).png");
    display: flex;
    margin-left: 50px;
  }
}

.relaxing-features {
  width: 375px;
  margin: auto;
  padding: 63px 0px 57px;
}
.relaxing-features-title {
  color: rgba(255, 255, 255, 1);
}
.relaxing-features-list {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.relaxing-features-item {
  border: 6px solid rgba(255, 81, 0, 1);
  width: 375px;
  height: 162px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 1);

  padding: 28px 20px 0;
}

.relaxing-features-text-bold {
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(202, 6, 140, 1);
}

.relaxing-features-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 10px;
}

@media screen and (min-width: 1200px) {
  .relaxing-features {
    width: 1440px;
    height: 747px;
    padding: 111px 81px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/Frame\ 25.png");
  }
  .relaxing-features-list {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    column-gap: 392px;
  }

  .relaxing-features-item {
    width: 443px;
    height: 162px;

    border-radius: 50px;

    padding: 28px 20px 0;
  }

  .relaxing-features-text-bold {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  .relaxing-features-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 10px;
  }
}

.relaxing-policy-terms-container {
  padding: 118px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(250, 223, 168, 1);
}

.relaxing-policy-terms-title {
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(255, 81, 0, 1);
}

.relaxing-policy-terms-text {
  padding-top: 20px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.relaxing-policy-terms-texts {
  padding-top: 8px;
}

.relaxing-policy-terms-text-one {
  padding-top: 20px;
}

.relaxing-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.relaxing-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.relaxing-email-link {
  color: inherit;
  text-decoration: none;
}

.relaxing-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .relaxing-policy-terms-container {
    padding: 140px 80px 80px;
    width: 1440px;
  }

  .relaxing-policy-terms-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .relaxing-policy-terms-text {
    padding-top: 40px;
  }

  .relaxing-policy-terms-text-one {
    padding-top: 30px;
  }

  .relaxing-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.relaxing-footer {
  width: 375px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.relaxing-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.relaxing-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.relaxing-footer-text {
  text-decoration: none;
  font-family: Luckiest Guy;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
  vertical-align: middle;
  color: rgba(255, 81, 0, 1);
}

.relaxing-footer-copyright {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1200px) {
  .relaxing-footer {
    width: 1440px;
    padding: 30px 80px;
    flex-direction: row;
    gap: 150px;
  }

  .relaxing-footer-container {
    gap: 41px;
  }

  .relaxing-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 80px;
  }

  .relaxing-footer-text {
    font-family: Luckiest Guy;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: justify;
    vertical-align: middle;
  }

  .relaxing-footer-copyright {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}

.relaxing-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(149, 49, 133, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
  z-index: 1000;
  display: none;
}

.relaxing-cookie-popup-text-two {
  color: rgba(30, 30, 30, 1);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.66px;
  text-align: center;
}

.relaxing-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.relaxing-cookie-button {
  border: none;
  background-color: transparent;
  border: 2px solid rgba(255, 81, 0, 1);
  width: 150px;
  padding: 16px 0;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(202, 6, 140, 1);
  border-radius: 50px;
}

#accept-cookies {
  background: rgba(202, 6, 140, 1);
  color: rgba(30, 30, 30, 1);
  border: 2px solid rgba(202, 6, 140, 1);
}

.relaxing-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .relaxing-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .relaxing-cookie-popup-text-two {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.66px;
    text-align: left;

    width: 648px;
  }
  .relaxing-cookie-button {
    border: none;
    background-color: transparent;
    border: 2px solid rgba(255, 81, 0, 1);
    width: 190px;
    padding: 16px 0;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  .relaxing-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 200px;
  }

  .relaxing-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
